<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Bem-vindo ao Sistema de Cadastro de Clientes</h1>
        <a href="/cadastro" class="btn btn-primary">Novo Cadastro</a>
        <a href="/cadastros" class="btn btn-secondary">Ver Cadastros</a>
    </div>
</body>

</html>